export AWS_REGION=us-east-1
export TF_VAR_instance_type=g6.4xlarge
export TF_VAR_use_spot=true
export TF_VAR_ebs_volume_size_gb=550
export TF_VAR_key_name=my-ssh-key
export TF_VAR_ami_name=al2023-ami-2023.12.20260909.0-kernel-6.18-x86_64
export TF_VAR_hf_token=
export TF_VAR_model_version=